@model List<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-center">
            <h2>List of all your orders</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Order ID</th>
                    <th class="text-center">Items</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price </th>
                    <th class="text-center">Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle text-center">@order.Id</td>
                        <td class="align-middle text-center">
                            <ul style="list-style-type:none" class="p-0 m-0">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <span class=" text-center">@item.Movie.Name</span>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle text-center">
                            <ul style="list-style-type:none" class="p-0 m-0">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <span class=" text-center">@item.Amount</span>
                                    </li>
                                }
                            </ul>


                        </td>
                        <td class="align-middle text-center">
                            <ul style="list-style-type:none" class="p-0 m-0">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li style="list-style-type:none">
                                        <span class=" text-center">$@(@item.Price * @item.Amount)</span>
                                    </li>
                                }
                            </ul>


                        </td>
                        <td class="align-middle text-center">
                            @order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle text-center"> @order.User.FullName </td>
                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>