@model IEnumerable<Producer>

    @{
        ViewData["Title"] = "List of Producers";
    }

<div class="row">
    <div class="col-md-8 ">
        <table class="table truncate-table">
            <thead>
                <tr class="text-center">
                    <th class="text-center">@Html.DisplayNameFor(model => model.ProfilePicture)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Biography)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th class="text-center">Actions</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                        <td class="align-middle text-center">
                            <img class="rounded-circle index-pic" src="~/Images/@item.ProfilePicture" alt="@item.FullName" />
                        </td>
                        <td class="align-middle text-center">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle text-center truncate-td">
                                @Html.DisplayFor(modelItem => item.Biography)     
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle text-center">
                                <div class="btn-action">
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Edit</a>
                                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-eye"></i> Details</a>
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash"></i> Delete</a>

                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Producers")

@section Scripts{
<script>
        $(document).ready(function () {
            function updateClasses() {
                var screenWidth = $(window).width();
                if (screenWidth >= 900) {
                    $(".btn-action").removeClass("btn-group-vertical")
                    $(".btn-action").addClass("btn-group");
                } else {
                    $(".btn-action").addClass("btn-group-vertical")
                    $(".btn-action").removeClass("btn-group");
                }
            }


            // Initial update on page load
            updateClasses();

            // Update classes on window resize
            $(window).resize(function () {
                updateClasses();
            });


        });
</script>
}