@model IEnumerable<Movie>

    @{
        ViewData["Title"] = "List of Movies";
    }

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bg-info bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Images/@item.ImageURL" class="w-100 h-100" alt="@item.Name" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text truncate">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p>
                                <b>Status:</b>
                                @if(DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                } else if(DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                } else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="cold-md-12">
                        <div class="card-footer">
                            <p  class="card-text p-footer">
                                <a  class="btn btn-outline-primary float-end detail-btn" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"> </i>Details
                                </a>
                                
                                @*ToString("c") makes it to currency. its an overload provided by c#*@
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i>Add to Cart (@item.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            function updateClasses() {
                var screenWidth = $(window).width();
                if (screenWidth >= 700 && screenWidth <= 1000) {
                    $(".detail-btn").removeClass("float-end")
                    $(".p-footer").addClass("d-flex justify-content-around");
                    $(".detail-btn").addClass("me-2");
                } else {
                    $(".detail-btn").addClass("float-end")
                    $(".p-footer").removeClass("d-flex justify-content-around");
                    $(".detail-btn").removeClass("me-2");
                }
            }

            // Initial update on page load
            updateClasses();

            // Update classes on window resize
            $(window).resize(function () {
                updateClasses();
            });

            
        });

    </script>
}

@await Html.PartialAsync("_CreateItem", "Movies")
